// CharWrapper.module.scss
.Char-wrap {
    padding: 20px 0;
    background-image: linear-gradient(to top, #000000, #897e7b);
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    justify-content: center;
    margin-top: -4px;

    .char-wrapper {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -4px;
        align-items: center;
        flex-direction: column;
    }
}

.search-input {
    padding: 0 14px;
    width: 360px;
    height: 38px;
    margin: 12px 0;
    font-family: "NotoSerifJp";
    line-height: 38px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    font-size: 18px;
    background: #fff;
}

.profile-wrap {
    position: relative;
    z-index: 3;
    background-color: #292d2e;
    color: white;
    padding-bottom: 12px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab {
    display: flex;
    justify-content: center;
    padding-top: 16px;

    button {
        background-image: url("https://mememori-game.com/assets/en/img/top/btn_tab.png");
        background-size: cover;
        width: 310px;
        font-family: 'Cinzel';
        color: white;
        font-size: 30px;
        line-height: 70px;
        display: flex;
        justify-content: center;
        z-index: 1;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-left: 60px;
        background-color: transparent;
        border: none;

        &:hover {
            background-image: url(https://mememori-game.com/assets/en/img/top/btn_tab_active.png);
            color: black;
        }
    }
}


@media screen and (max-width: 768.98px) {

    .profile-wrap {
        .tab {
            .row {
                width: 100% !important;
            }
        }

        button {
            margin-left: 0;
            font-size: 13px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 100% !important;
            width: 100% !important;
            text-align: center;
            line-height: 45px;
        }
    }

    .Char-wrap {
        .char-wrapper {
            width: 100%;
            padding: 0 10px;
            margin-top: 20px;
        }
    }


}