.wrapper {
    background-image: url(https://mememori-game.com/assets/en/img/top/bg_game@pc.jpg);
    margin-top: -7%;
}

.game-wrapper {
    padding-top: 5%;
}

.game-title {
    color: black;
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    font-weight: 100;
}