// CharacterDetails.module.scss
.character-text {
    font-family: 'Cinzel';
    height: 609px;
    width: 700px;
    font-size: 1.8rem;
    z-index: 2;
    color: rgb(0, 0, 0);
    background-size: 100%;
    position: absolute;
    left: 45%;
    top: 36%;

    &::before {
        position: absolute;
        top: -42px;
        display: block;
        z-index: -1;
        height: 609px;
        width: 994px;
        content: '';
        background: url("https://mememori-game.com/assets/en/img/gallery/bg_charactertext_right@pc.png") no-repeat right top/959px auto;
        left: auto;
        right: -44px;
    }
}

.illust {
    position: absolute;
    z-index: 2;
    top: 34px;
    opacity: 1;
    left: 50%;
    margin-left: -734px;
    width: 1920px;
    height: auto;
    overflow: hidden;

    & img {
        width: 100%;
    }
}




.header {
    position: relative;
    font-size: 4rem;
    top: 30px;
    margin-bottom: 4%;
}

.voice-actor {
    top: 6%;
    position: relative;
    right: 26%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Didact Gothic';
    align-items: flex-end;
}

.voice-name {
    padding-left: 12px;
    font-family: NotoSerifJp;
}

.youtube {
    margin-top: 59px;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;
}

.video-btn {
    padding: 0;
    margin-top: 38px;
    font-size: 18px;
    background: url(https://mememori-game.com/assets/en/img/gallery/btn_youtube.png) no-repeat;
    background-size: contain;
    width: 400px !important;
    opacity: 1;
    transition: opacity 0.2s linear;

    & span {
        padding-right: 30px;
    }

    &:hover {
        opacity: 0.5;
    }
}


.content {
    font-size: 20px;
    margin-top: 27px;
    font-family: 'NotoSerifJp';
    position: relative;
    right: 10%;
    width: 600px;
    text-align: justify;
    line-height: 1.75;
    text-shadow: 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 60px #fff, 0px 0px 60px #fff, 0px 0px 60px #fff;
}

.ver-wrap {
    text-shadow: 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 60px #fff, 0px 0px 60px #fff, 0px 0px 60px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 24%;

    .ver-name {
        margin: 0;

        + .header {
            margin-top: 12px;
            top: 0;
        }
    }
}

.special-btn {
    background-image: url("https://mememori-game.com/assets/en/img/top/btn_tab.png");
    background-size: cover;
    width: 310px;
    height: 90px;
    font-family: 'Cinzel';
    color: white;
    font-size: 30px;
    line-height: 70px;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: background-image 0.3s ease;
    cursor: pointer;
    margin-left: 60px;
    background-color: transparent;
    border: none;

    &:hover {
        background-image: url(https://mememori-game.com/assets/en/img/top/btn_tab_active.png);
        color: black;
    }
}